In [111]:
import pandas as pd
import numpy as np
import re
path = 'beau_monde_1908.txt'

In [2]:
# Import data
r = open(path, 'r')
raw_data = r.readlines()
r.close()
raw_data = raw_data[23:] # Skipping intro of the directory

In [3]:
raw_data

['A\n',
 '\n',
 '\n',
 "Aage (cl’) voir Colmet (I'Aage.\n",
 '\n',
 '\n',
 'ABRADIE-d’ARRAST (Michel-Robert d’), 5S bis, rue\n',
 'Jouffroy (xvu*) — et d’Elhorriaga, S Saint-\n',
 'Jcan-de-Luz (Basses-Pyrénées).\n',
 '\n',
 '\n',
 'ABBATUCCI, née de FORESTA (M-), 103, rue La\n',
 'Boétie (vin*) [35 321.S7] — et fljj Rey de Foresta, SI\n',
 "[s ' â [A] Montmorency (Seine-et-Oise).\n",
 'ABBATUCCI (C“ Jacques), 103, rue La Boétie (mi‘)\n',
 '[35 521.57] — et même A . Sp-RR\n',
 '\n',
 '\n',
 'ABBATUCCI (C1""*), 32, rue Washington (vni\'j.\n',
 'ABEILLE (Adolphe),27, Faubourg-Saint-Honoré (vm*)\n',
 'et haras de Viroflay, CK! feâ Virollay [35 3)\n',
 '\n',
 '\n',
 '(Seine-et-Oise). RR-UA-T\n',
 '\n',
 '\n',
 'ABOILARI) Georges), U. #,[et M“" née BONUS], 46,\n',
 'avenue de Breteuil (vu*) [35 707.11] — et de\n',
 'Peyrieu, Kl \\p= eS Peyrieu (Ain). AC-M-YC\n',
 "ABOVILLE (V‘* H. d’), O.iK, Colonel du 131' de ligne\n",
 'à Orléans [et V*,“‘ née de GOUVELLO de KÉ-\n',
 'RIAVAL], à d® Kerentré, K {s= aË [0] Auray\n',
 '(Morbihan) — et de Rouville, K à\n',
 '[P.L.M.] Malesherbes (Loiret).\n',
 '\n',
 '\n',
 'Paris-Mondain — 1908\n',
 '\n',
 '\n',
 'ABOVILLE (B** Christian d’) [et B*»”" née I1ENNE-\n',
 'CART], 23, rue de Grenelle (vu*)— et A deGlux,\n',
 'K Chàteau-Chinon fs= St-Prix-sous-Beuvray, 1 kil.\n',
 '(Nièvre), Etang, 22 kil. (Saône-et-Loire) ou gg.\n',
 '\n',
 '\n',
 'de E’achin-le-Chàtelet, 10 kil. — et ^ de Brouay,\n',
 'K ]ÿ= Audrieu (Calvados).\n',
 '\n',
 '\n',
 'Alt RA Ml (II* Henri) [et M«« née KNITTEL], 28, rue\n',
 'Copernic (xvi*), 35 667.01.\n',
 '\n',
 '\n',
 "ABRANTÈS, née JL'XOT (LE RAY, v--° d’), 12, ave-\n",
 'nue Henri-Martin (xvi*) — et sêâ de Bailleul, K)\n',
 'Gorron (Mayenne), ^ [O] St-Denis-de-Gastines.\n',
 '\n',
 '\n',
 "ABRANTÈS (Duc d’), Capitaine d'infanterie hors\n",
 'cadres, à F État-major du Gouverneur de Xicer\n',
 '[et !)**• nee Nicole, de MAIGRET], 12, avenue Henri-\n',
 'Martin (xvi*) —- même de Bailleul — et villa\n',
 '\n',
 '\n',
 '“ Myosotis " Vallon des Fleurs à Nice.\n',
 '\n',
 '\n',
 'ABRANTÈS (M** d’}, Lieutenant au 14e hussards à\n',
 'Alençon (et Mi,# née Hélène LANGSDORFF], 12,\n',
 'avenue Henri-Martin (xvi*) — et même M.\n',
 '\n',
 '\n',
 "ABRANTÈS (Cte d’}, Lieutenant au îS6* d'infanterie\n",
 'à St-Lô (Manche), mêmes adresses.\n',
 '\n',
 '\n',
 '3\n',
 '\n',
 '\n',
 'ABZ\n',
 '\n',
 '\n',
 '34\n',
 '\n',
 '\n',
 'A GH\n',
 '\n',
 '\n',
 'ABZAC (C1""* Paul d’), 181, rue de La Pompe (xvi*).\n',
 'fACHER de MONTGASCON ll!°» d’) [et B”""\' née Jeanne\n',
 'de COURCY], 18, avenue d’Antin (vui"),— et ià\n',
 'de Villequier, E M [Q], Caudebec-en-Caux (Seine-\n',
 'Inférieure) Villequier.\n',
 '\n',
 '\n',
 "ACHERY de SAS DON'N'IN'O (P“ d’), Ex-camérier\n",
 'secret, 62, avenue de la Grande-Armée (xvn‘) — et\n',
 'de Soisy-sous-Montmorency, 121 35 *3 [N]\n',
 '\n',
 '\n',
 'Soisy-sous-Montmorency (Seine-et-Oise).\n',
 '\n',
 '\n',
 "ACHON (B°n René d'), Capitaine au l*r chasseurs [et\n",
 "B'*” née de LAMOLÈRE, Cu”* d'HUST], 124, rue\n",
 'de Provence (vm*), — et de la Roche-de-\n',
 'Gennes, El Gennes (Maine-et-Loire), M [Or],\n',
 '\n',
 '\n',
 'Les Rosiers-sur-Loire.\n',
 '\n',
 '\n',
 "AGLOQLE (Mm*) née DU CH AN O Y', 26, avenue Mar¬\n",
 'ceau (xvi" )— et jÎ5 de La Borde, E Saint-An-\n',
 'toiue-du-Rocher, (35 au £•£ .N” S), M Mettray\n',
 '(Indre-et-Loire).\n',
 '\n',
 '\n',
 "ACLOQL'E (M»« AWnée SEBERT, 9, place des Etats-\n",
 'Unis (xvi*)-[35 698.92].\n',
 '\n',
 '\n',
 "ACI.OQl'E (Maurice), 19, rue de Presbourg (xvi') — et\n",
 'villa Monténégro [35 590], à Cannes (Alpes-Mari¬\n',
 'times). AC-Y\n',
 '\n',
 '\n',
 'ACOLLÀS (René), K, Conseillerréférendaire à la Cour\n',
 'des Comptes [et Mm* née de MOY], 29, avenue\n',
 'Friedland (vin*) [35 547.26]\n',
 '\n',
 '\n',
 'Acquasanta (d’) voir de Narducci.\n',
 '\n',
 '\n',
 'ADAM (Achille), Député du Pas-de-Calais, 21, avenue\n',
 'd’Antin (vin*) [35 311.04] — et 10, rue Victor-Hugo,\n',
 'à Boulogne-sur-Mer (Pas-de-Calais), —et « La Soli¬\n',
 'tude », à Saint-Quentin-en-Tourmont, par Rue\n',
 '(Somme). AC-B-HRRUA\n',
 '\n',
 '\n',
 'ADAM (M“* Achille), née VERBERKMOÉS — et *£$\n',
 'de Verneuil, E î;~ Si [Or] Verneuil-sur-Indre\n',
 '(Indre-et-Loire).\n',
 '\n',
 '\n',
 'ADAM (M“* Eugène), 2 bis, rue de La Baume (vin")\n',
 "[35 520.00] — et 24, rue de Confiai», à'Poissy,\n",
 '35 (Seine-et-Oise).\n',
 '\n',
 '\n',
 'ADAM (Henri), mêmes adresses. AC\n',
 '\n',
 '\n',
 'ADAM (Mm* Hippolytel, 47 bis, rue Ampère (xvn")\n',
 '[35 525.33] — et & des Mazurettes, E é3\n',
 '\n',
 '\n',
 '[N] Boulogne (Pas-de-Calais),\n',
 '\n',
 '\n',
 'ADAM (M- Léon) née JÉROME PICHON, 33, av.\n',
 'd’Antin (vnr).\n',
 '\n',
 '\n',
 'ADAM (M. et M“* Georges), 23, av. de Messine (vin")\n',
 '— et 14, rue Circulaire, à Versailles.\n',
 '\n',
 '\n',
 'ADAM (Louis), Agent de change [et M»» née PIERRETJ\n',
 '23, av. de Messine (vm") (bureaux: 48, rue de Pro¬\n',
 'vence) (ix*) [35 136.13] — et jgj deBrancas, E jj=\n',
 'éS [0] Sèvres (Seine-et-Oise), — et villa Ellon, à\n',
 'Lion-sur-Mer (Calvados).\n',
 '\n',
 '\n',
 'ADAM (Juliette LAMBER) (M“* Edmond), abbaye de\n',
 'Gif (Seine-et-Oise).\n',
 '\n',
 '\n',
 'ADAN (Emile), ÿ [etMm,],75,r. deCourcelles(vm")UA\n',
 'ADDA SALVATERRA (M11* d’), 37, avenue Montaigne\n',
 '(vin").\n',
 '\n',
 '\n',
 'ADELINE, née F AU (M” Edmond), 31, rue Pierre-\n',
 'Charron (xvi*) — et {£à de Sérigny, 0 J: ^\n',
 '[Or] Cour-Cheverny (Loir-et-Cher).\n',
 '\n',
 '\n',
 'ADELINE (M““ Raoul), née FROGER des CHESNES,\n',
 'pavillon de La Louetière, E â [Or] Cour-\n',
 'Chcverny (Loir-et-Cher).\n',
 '\n',
 '\n',
 'ADELINE (Gaston) [et M"" née DELONDRE], 55, rue\n',
 'Pierre Charron (vin") —■ et {^3 de Moussonvilliers,\n',
 "E ]ÿ= S'-Maurice-les-Charençais, 5 kil. (Orne) gji\n",
 '[0] La Ferté-Vidame (Eure-et-Loir). H-UA\n',
 '\n',
 '\n',
 "ADELON, née HAENTJEN'S (M- Henry), 24, rue\n",
 'de Courcelles (vm*) [35 517.06].\n',
 '\n',
 '\n',
 'ADELON (Marcel), même adresse.\n',
 '\n',
 '\n',
 'ADELSWARD (B””»" Axel d\'), née WUHRER,20, rue\n',
 'Daru (vm") — et à Nice.\n',
 '\n',
 '\n',
 'ADELSWARD (B***" Gustave d\'), née de POURTALÈS\n',
 '63, boulevard de Courcelles (vin*) [35 508.32] — et\n',
 '(£3 du Plessis-Mornay, E Rochefort-en-Yveliues,\n',
 '1f= [35 24], Donrdan (Seine-et-Oise).\n',
 '\n',
 '\n',
 "ADEN'IS de LA ROZERIE (A.-H), Conseiller Maître\n",
 'à la Cour des Comptes, 0. K, 3, rue de Monceau (vin0),\n',
 '\n',
 '\n',
 'ADHÉMAR (C""" d’), née MARIANT, 33, rue Was¬\n',
 'hington (vm*).\n',
 '\n',
 '\n',
 'ADHÉMAR (V“ Olivier d’), K [etV1*"*\' née VERDET]\n',
 '86, rue do Yarenne (vu*)— et à de Saint-Hubert,\n',
 'E Sorgues-sur-l’Ouvèze (Vaucluse — et éêS de\n',
 'Teillan, E Marsillargues (Hérault).\n',
 '\n',
 '\n',
 'ADHÉMAR (Vf Robert d’), à Lille (Nord).\n',
 '\n',
 '\n',
 'AFFRE de SAINT-ROME (Cl°“* Denis) [née de NOGA-\n',
 'RET], 147, rue de Rennes (vi*) — et à Soisy-sous-Mont¬\n',
 'morency, E îf= (Seine-et-Oise).\n',
 '\n',
 '\n',
 'AGACHE (Alfred), 14, rue Weber (xvi*). UA\n',
 '\n',
 '\n',
 'AGHION (M. et Mm" Jules), 24, rue Clément-Marot,\n',
 '(vm") [35 501.87]. CF\n',
 '\n',
 '\n',
 'Agneau (d’) voir: Carpentier d’AGNEAU.\n',
 '\n',
 '\n',
 'Agneaux (d’) voir: de S" Marie d’Agneaux.\n',
 '\n',
 '\n',
 "AGN'ELLET (M. et Ilm‘ Augustin), 50, av. Victor-\n",
 'Hugo (xvi*).\n',
 '\n',
 '\n',
 'AGN\'ELLET (M11* Emma), 59, rue de Prony (xvn")\n',
 '— et villa à Menthon-Saint-Bernard, E [Z- (Haute-\n',
 'Savoie), fg [P.-L.-M.] Annecy.\n',
 '\n',
 '\n',
 'AGNES (Eugène), 59, rue Chardon-Lagache (xvi»),\n',
 '\n',
 '\n',
 'AGO.N (la Générale M“* d’), née TIEUSONNYER, 78,\n',
 'avenue Henri-Martin (xvi*) — et *& de Sampange,\n',
 'E Nevers (Nièvre).\n',
 '\n',
 '\n',
 'AG0PIAN-PACHA (M»"), née KHORASSANDJ1,\n',
 '98, boulevard Malesherbes (vui").\n',
 '\n',
 '\n',
 'AGOPIAN-PACHA (L.), môme adresse. Y\n',
 '\n',
 '\n',
 'AGOl\'LT (M**d’) [et M\',"néede MONTRICH AHD], gft\n',
 'de Vandœuvre, E Coulans (Sarthe) àZ [0|. Le\n',
 'Mans (Sarthe).\n',
 '\n',
 '\n',
 'AGOl\'LT (C\'" d’), ancien député [et C1""” née\n',
 'd’ESTAMPES], 19, boulevard de La Tour-Maubourg\n',
 '(vu") et — {gs de Beauplan, E 35. Voreppe Isère .\n',
 '\n',
 '\n',
 'AG R AIN née de GESTAS de LESPÉROUX, (M*“ d’),\n',
 '63 bis, rue de Yarenne — (vu*) et A de Rressey,\n',
 "E Arc-sur-Tille 3 kil. (Côte-d'Or) [P.-L.-M.].\n",
 'd’Arc-sur-Tille et Magny.\n',
 '\n',
 '\n',
 'AGRAI.N (G** Jean d’) [et Cl,“* née Geneviève\n',
 'R0UT1NY], mêmes adresses — et villa St-Vallier\n',
 'à Nice.\n',
 '\n',
 '\n',
 'AG R AIN (V“ Henri d’), mômes adresses.\n',
 '\n',
 '\n',
 'AGR\n',
 '\n',
 '\n',
 '33\n',
 '\n',
 '\n',
 'ALF\n',
 '\n',
 '\n',
 'AGRAIN (11\'» d’), Lieutenant au 1" Dragons [et\n',
 'M\'" née de JESSÉ-LEYAS], —même de Bressey\n',
 'et à Joigny (Yonne) [Jï 30J.\n',
 '\n',
 '\n',
 "AGl'EN (P.-L. d’) [et M”*], 74, rue Michel-Ange, [Ht\n",
 '239.81]—et fljj le Prieuré Saint-Michel, à Saint-\n',
 'Pair-sur-la-Mer (Manche).\n',
 '\n',
 '\n',
 'AGUERA (F. G. de), 8, rue Magellan (Viir). RR-UA\n',
 "Aguesseau (d') : voir de Skguh d’AcuEssEAU.\n",
 'AGUIAR (M” Guillaume PINTO d’), 31, rue Pierre-\n',
 'Charron (XVIe).\n',
 '\n',
 '\n',
 'AGUIAR (Louis PINTO d’), même adresse. AG-GF\n',
 'AICARD (M. Jean), 40, rue de Luxembourg, et villa\n',
 'les Lauriers-Roses à La Garde (Var).\n',
 '\n',
 '\n',
 'AIGNAN, née MOSSELMAN (M”* Léon), 60, rue\n',
 'François-lor (viii*).\n',
 '\n',
 '\n',
 'AIGNAN (Gabriel) [et M““ née Mariquita del VALUE\n',
 'de MENA], 5, rue Montaigne (vnr)—et à Douvres-\n',
 'la-Délivrande (Calvados). SH-CM-UA\n',
 '\n',
 '\n',
 "Aighepokt (d1) : voir d'Ai.F,YRAC (d1).\n",
 '\n',
 '\n',
 'AILLIÈRES, née GÉRARD (M™ Fernand d’), 16, rue\n',
 "Bayard (vin») — et jà d'Aiüières, a jg\n",
 '[0] Mamers (Sarthe).\n',
 '\n',
 '\n',
 'AILLIÈRES (M. Louis d‘), mêmes adresses. J\n',
 '\n',
 '\n',
 'AILLIÈRES (Le Colonel Etienne d’), Commandant le\n',
 '10° Cuirassiers, H, [et M“° née de SAINT-LAUMER],\n',
 '123, rue de Lille (vu0) et 8, boulevard du Nord,\n',
 'à Lyon (Rhône).\n',
 '\n',
 '\n',
 'AILLIÈRES (M. Jean d’) [et M»° née de FRÉVILLE\n',
 'deLORME],214, boni. Saint-Germain (vu») [P.-A.-T].\n',
 'AILLY (B»—”1 Jacques d’J née Thérèse de JUMILHAC\n',
 '30, rue Boissière (xvr) — 0*3 d’Ailly, 123 Roanne\n',
 '(Loire), Le Coteau, 4 kil. tfë [P.-L.-M.] Le\n',
 "Coteau, l'Hôpital et Roanne, 4 kil.—et M d’Alosse,\n",
 '1SI Marcilly-en-Villette, 4 kil. (Loiret), @1\n',
 '[Or] La Ferlé St-Aubin et St-Cyr-en-Yal, 12 kil.\n',
 'AILLY lie VERNE CIL (M. d’), O. #, Sgndiedes Agents\n',
 'de change [et Mm» née TRICHARD], 30, avenue\n',
 'Montaigne (vin*).\n',
 '\n',
 '\n',
 "A INVAL (Vu d’), Lieutenant d’Artillerie [et V'----\n",
 'née HA Y des XETUM1ÈRESJ, 44, rue François-\n',
 'I,r (vin») fp.-â-t.).\n',
 '\n',
 '\n',
 'AKEIÏMANN (M.) [et M“» née Germaine RENIER], 3,\n',
 'rue Le Nôtre (xvr).\n',
 '\n',
 '\n',
 'ALADRO KASTRIOTI (S. A. S. le P°* don Juan de),\n',
 'ancien Ministre Plénipotentiaire d’Espagne ien\n',
 'son hôtel), 9, square Lamartine (xvr). B-UA\n',
 'ALAMAGNïj (Edouard), 26, rue Bayard (viir),\n',
 '[iH 331 Tl] — fià de Cm aise, ES) [£= Mont¬\n',
 'brison (Loire). Sp\n',
 '\n',
 '\n',
 'ALAVOINE (Auguste) [et Mm°], Ê des Ormeaux,\n',
 "IS1 R= Benodet, [0' Quimper (Finistère). A\n",
 'Albebti.ni : voir Uiaz-Albertini.\n',
 '\n',
 '\n',
 'ALBEKTI (Léopold) [et M“* née REITLINGER], 73,\n',
 'boulevard Haussmann (vnr).\n',
 '\n',
 '\n',
 'ALBERT-LAMBERT (M.), Sociétaire de la Comédie-\n',
 'Française, O. I. ||, [et M“” née Angèle BASSA-\n',
 'LER], 224, rue de Rivoli IJ- 243.89].\n',
 'ALBERT-MORIX (Jean) [et M- née JANNIN], jfo\n',
 'de Gravelles, a Etrechy (Seine-et-Oise). UA-Y\n',
 '\n',
 '\n',
 "ALBIGNAC (M” d’) [et M'-» née d’OIfFEUILLE], 6,\n",
 'impasse des Gendarmes, à Versailles — et ^\n',
 'd’Orthe, a ]ÿ= St-MartindeConnée(Mayenne),^\n',
 '[OJ Sillé-le-Guillaume. ^\n',
 '\n',
 '\n',
 "ALBON (M1* d’) [et M'-« née de SETTANCOURT-\n",
 'VAUBECOURT], 17, rue Vaneau (vu°) — et ^\n',
 'd’Avauge, a Pontcharra- sur-Tardine (Rhône),\n',
 'M [P-L-M] St-Romaiii-de-Popey. H-J-U\n',
 '\n',
 '\n',
 'ALBRECHT do MARTENS, [et Mm” née de LAVA], 3,\n',
 "rue St Didier (xvr) — et gZz d'Epaux, a jj= gg\n",
 'Chàleau-Thierry (Aisne).\n',
 '\n',
 '\n',
 'ALBUFÉRA (SUCHËT, Duc d’) [et D»"» née de CAM¬\n',
 'BACÉRÈS], 35, rue St-Bominique (vu°) — et M de\n',
 'Montgoborta jÿ=^|[N]Yillers-Cotterêts (Aisne) J-U\n',
 "ALBUFÉRA (SI CHET, M'1 d’), [et M -- née Anna\n",
 "MASSENA de RIVOLI, P-° d'ESSLING], 40, av.\n",
 'Hoche (vin») [A 511.49], et 10, rue Jean-Goujon\n',
 '(vnr), — et à de Montgobert, a Villers-Cotte-\n',
 'rets Cœuvres et Valsery, 3 kil., M [N| Villers-\n',
 'Cotterets, 10 kil. ou Longpont 7 kil. (Aisne)-Bet\n',
 'villa Masséna, 1, rue de France, à Nice (Alpes-\n',
 'Maritimes). J-U\n',
 '\n',
 '\n',
 'ALBl’QUERQUE (B°” de), 4, sq. du Roule (vin*). UA\n',
 "ALBYVILLE (C*« d') [et C'«— née de SERCEY],\n",
 'éêü <in Chatelier, a Binan (Côtes-du-Nord) — et\n',
 'ÉÊâ de Ilomigny, a Sains (Somme)\n',
 '\n',
 '\n',
 'ALCANTARA ((>»■■« AI var d’), née de GAUDE-\n',
 'CHART, 2, rue de la Planche (vu») — et O de\n',
 'Qiierrieu, a Querrieu (Somme), [N] Amiens.\n',
 "ALCANTARA (Cte Jean d’) et [(>■■' née T EINT DE\n",
 'ROODENBEKE, mêmes adresses.\n',
 '\n',
 '\n',
 'ALCEDO (M-- d’) [et M - née de BANUELOS], villa\n',
 'Alcedo, à Biarritz (Basses-Pyrénées) — et,\n',
 'Castrelos, Yigo (Espagne). AT-G-U\n',
 '\n',
 '\n',
 'ALEM (M. Pierre) H M. A. [et M”* née Marie-Thé¬\n',
 'rèse de BOSKEDON], 1, place des Perchamps (xvr).\n',
 "ALENÇON (S. A. R. Mgr. le Duc d'j, 11, rue Beau-\n",
 'jon (vnr).\n',
 '\n',
 '\n',
 'ALÈS de CORBET (Vu d’) [et Yu**e née deBEAUCÉ],\n',
 '2, square de La Tonr-Maubonrg(vir) — et jêj du\n',
 'Houssay, a Segré (Maine-et-Loire). A-H\n',
 '\n',
 '\n',
 'ALEXANDER (M.etMm0 Charles), 64, avenue du Bois-\n',
 'de-Boulogne (xvr).\n',
 '\n',
 '\n',
 'ALEXANDRY d’ORENGIANI (B01 Michel d’), Lieute¬\n',
 'nant au 13‘ Cuirassiers [et B»”— née de NEUVILLE],\n',
 '8, rue Pierre-Charron (xvr) — et du Puits,\n',
 'a Coise-St-Jean-Piedgauthier, t-g St-Pierre-\n',
 'd’Albigny (Savoie).\n',
 '\n',
 '\n',
 'ALF.XIS (S. A. I. le Grand-Duc), 38, avenue Gabriel,\n',
 '\n',
 '\n',
 '(VIII-).\n',
 '\n',
 '\n',
 'A LE Y B \\C fRoa René drd [et B0ttna née de COLOMBEL],\n',
 '78, rue des Saints-Pères ivn*).\n',
 '\n',
 '\n',
 'ALEYRAG d’AlGKEPONT. (Bond’),et de Prélefort,\n',
 'Saint-A y (Loiret) t&S[0r] Meung-sur-Loire —\n',
 'et villa de Monternot, igj [P-L-M.J Belle-\n',
 '\n',
 '\n',
 'ville-sur-Saéne (Rhône).\n',
 '\n',
 '\n',
 'ALFAS SA (Samuel) [et Mm* née HILLEL], 46, rue\n',
 'Pierre-Charron (vme) [3? 519.94]. GF\n',
 '\n',
 '\n',
 'ALG\n',
 '\n',
 '\n',
 '36\n',
 '\n',
 '\n',
 'AME\n',
 '\n',
 '\n',
 'ALGAN (Le Colonel Henri), 0. ch, K [et M"* née\n',
 'CLÉMENT], lOi, rue Lauriston (xvf).\n',
 '\n',
 '\n',
 'ALGAURA (Edouard de) [et M"* née d’ALBAU], 165,\n',
 'avenue de Wagram [7. 557.85],\n',
 '\n',
 '\n',
 'AL1C0T (M—), 33, rue Saint-Guillaume (vif).\n',
 'ALICOT (Michel), ancien Député [et M"’ née BON-\n',
 'NARIC], même adresse.\n',
 '\n',
 '\n',
 'ALIGNY (PICOT de MORAS, B“» d’) [et I!--- née\n',
 'MENANS], 31, quai d’Orsay (vu*) — et A de\n',
 'Montmirey-la-Ville, K Moissey (Jura). A-H\n',
 '\n',
 '\n',
 'ALIGNY PICOT de MORAS (B- André d’), Lieute¬\n',
 "nant d'Arl illerie ! et [t”n^ née Thérèse de PARIEL],\n",
 '11, rue Saint-Dominique (vil») — et A de Montmi\n',
 'rcy-la-Ville, Kl Moissey (Jura) |j= 7. Montmirey-\n',
 'lc-Clihteau — et M de Fabrègues, K éâ\n',
 '\n',
 '\n',
 'Aurillac (Cantal). A\n',
 '\n',
 '\n',
 'ALIGRE, née de PRÉAULX (M\'“ d", 89, faubourg\n',
 'St-Honoré (vm“), [7. 516.39] —et afo de La Rivière,\n',
 '53 [£= âl Ponlgouin (Eure-et-Loire) — et ^ des\n',
 'Vaux,KÎf= Belhomert (Eure-et-Loir),[0] Pont-\n',
 'gouiu et La Loupe.\n',
 '\n',
 '\n',
 'Aligre (d’) : voir Pomereu d’Aligre.\n',
 '\n',
 '\n',
 'AL1NT.0URT (Cu d’), [et C""° née G1LL0TLX]\n',
 'G ELIOT], 17, avenue d’Eylau (xvf) [ik 693.68\n',
 '— et à Plainfaing (Vosges). B-H\n',
 '\n',
 '\n',
 'Alinev d’Elya : voir d’Elva.\n',
 '\n',
 '\n',
 'ALLAI RE (Colonel Ernest), 0. tjf, 16, rue Mari-\n',
 'gnati (vnf). AL\n',
 '\n',
 '\n',
 'ALLAI RE (Jules), K, Juge au Tribunal delà Seine,\n',
 '16, rue de Marignan (vin*). AL\n',
 '\n',
 '\n',
 'ALLAI RE (Mm* Etienne), 101, rue du Bac (vif).\n',
 'ALLARD, née AUBINEAU (Yu“* d’), 23, rue du\n',
 'Cherche-Midi (vf).\n',
 '\n',
 '\n',
 'ALLARD (Jules) [et Mm” née LACOSTE de SAINT-\n',
 'AMAND], 10, rue La Terrasre (xvf) — et jêj du\n',
 'Prieuré de Gaillonnet, K Meulan (Seine-et-Oise).\n',
 'ALLARD du CHOLLET (C“), 0. A y, *, * [et\n',
 'Cl’“* née HARTOG], 114 bis, boulevard Malesherbes\n',
 '(xvtf).\n',
 '\n',
 '\n',
 'ALLARD de GAILLOX (B- E.) [et B-"-- née FLO¬\n',
 'CON], 5, quai Malaquuis (Vf) [3* 817.07]. AG-H\n',
 'ALLEMAGNE (B”» Paul d’) [ut B°-»>- née d’ABBADIE\n',
 'd’ARRAST], 88 bis, rue Joulïroy (xvif).\n',
 'ALLEMAGNE (Edmond d’) [et M“* née liAZIKE], 15,\n',
 'rue d’Astorg (VHP) — et ^ de Polisv, K Po\n',
 'lisy, £g Polisot (Aube). AL\n',
 '\n',
 '\n',
 'Allemans (d’) : voir du Lau (»’).\n',
 '\n',
 '\n',
 'ALLEZ (Edouard) [et M”’ née HOULLIER], 19, rue\n',
 'Leroux (xvf) [TR 522.80] — et sà de Faiconne, 181\n',
 'gg [0] Nanterre (Seine-et-Oise). AC-H\n',
 '\n',
 '\n',
 'ALLEZ (M”* Adrien), 21, avenue, de l’Alina (v np)\n',
 '[7. 519.87].\n',
 '\n',
 '\n',
 'ALLEZ (Lucien), 39, rue d’Artois (vrip). AC-H\n',
 'ALLEZ (M. et M"1 Emile-A.), 5 bis, rue de Rerri\n',
 '(vnf ) [7. 529.73] — et de Belesbat, K Boutigny\n',
 '(Seine-et-Oise).\n',
 '\n',
 '\n',
 'ALLFRÉE, née ROGUANOEF (M“*Helen-Féodorovna),\n',
 '82, rue de Varcnnc (vil”) — et 61, Myddlctou Square,\n',
 'London (Angleterre).\n',
 '\n',
 '\n',
 'ALLFREE (Alexandre-Charles), mêmes adresses.\n',
 '\n',
 '\n',
 'ALLIBERT (Jacques) [et M"1” née de BAMMEYILLEJ,\n',
 '10, rue de Marignan (vnf) [3î 525.82], AG-H\n',
 'ALL1ZÉ (M. Henry), Ministre de France à Stockholm\n',
 '[et Mm* née 11EBBETTE], 30, rue Boissière (xvf)\n',
 'et à Stockholm-, légation de France (Suède).\n',
 'ALMEIDA (C1\'”1" d’),30, avenue Henri-Martin (xvf)\n',
 '— et Villa Almeida, à Avon (Seine et Marne).\n',
 '\n',
 '\n',
 'ALOISI (M. et M“" POMPEO), 28, avenue du Troca-\n',
 'déro (xvf).\n',
 '\n',
 '\n',
 'ALPHAND (M. Charles), Vice Consul, attaché aux\n',
 'Affaires Étrangères [et M“* née Margerin de GRÉ-\n',
 'MONT], 11, avenue de L11 Grande Armée (xvf).\n',
 'ALPHEN SALVADOR (Mm* Emile), 9, rue Le Tasse\n',
 '(xvf) — et à de la Cornmaiiderle, SI A3 jÿ=\n',
 'Ballan (Indre-et-Loire).\n',
 '\n',
 '\n',
 'ALPHEN-SALVADOR, mêmes adresses.\n',
 '\n',
 '\n',
 'ALSACE (C** Maurice d’), 20, rue Washington (vnf)\n',
 '\n',
 '\n',
 'J-RR\n',
 '\n',
 '\n',
 'ALSACE (C** Philippe d’) [etC‘““* née de BRIENEN],\n',
 '4, rue Dumont-d’Urville (xvf) [7î 520.64] — et\n',
 'Montgraham, S ]£= Souancé i Eure-et-Loir), ^8\n',
 'Nogent-le-Rotrou. J-RR\n',
 '\n',
 '\n',
 'Alsace (»’) : voir aussi d’Hénin (d’).\n',
 '\n',
 '\n',
 "Altena (d’) : voir de Borciigiuve d'Altena.\n",
 'Altenbourg (d’) : voir de Ghampreux (d-).\n',
 '\n',
 '\n',
 'ALT11AUS (Le Colonel B*” Augusto de), O. Sfr, Atta¬\n',
 'ché militaire d i Pérou en France et en Italie, 72,\n',
 'avenue Kléber (xvf).\n',
 '\n',
 '\n',
 'ALTON (C1* d’), éês de la Bertraie, K S [Or]\n',
 'Clefs, 4 kil. (Maine-et-Loire).\n',
 '\n',
 '\n',
 'ALTON |V1" Charles d’) [et Y1"”” née de LA ROQUE-\n',
 "ORDAN], 4, rue ('.revaux (xvf) — Chalet-Branet,\n",
 'S >8 [Or] Buch (Gers) — et même fa . H-J\n',
 'ALTON-SHÉE (G1”** d’), 12, rue Pergolèse (xvf).\n',
 'ALTON-SHEE (Cte P. d’), même adresse.\n',
 '\n',
 '\n',
 'ALVEAIl (Marcel-T. de) [et M- née PACIN1], 119,\n',
 'avenue de Wagram (xvif) [7î 583.76].\n',
 '\n',
 '\n',
 'AO-AE-B-H-ÜA\n',
 'ALYES de ARAUJO (llippolyto) [et M“* née da\n',
 'PORGIUXCULA], 57, avenue Kléber (xvf).\n',
 "AMAND-VILLEFOUT (M.) ch, Secrétaire d'Ambas¬\n",
 'sade [et M"1\'née CIIIBOIRGJ, 14, rue Dupout-des-\n',

# Load into DataFrame

In [4]:
def cleanAddress(address):
    cleaned_address = address.replace("av.", "avenue") \
    .replace("boul.", "boulevard") \
    .replace("b.", "boulevard") \
    .replace("r.", "rue") \
    .replace("¬", "")
    return cleaned_address

def getAddress(data):
    address=""
    for i, o in enumerate(data):
        if(o.replace(" ", "").isdigit() or 'bis' in o):
            for addr in data[i:]:
                address += addr.replace("\n", " ")
    if(len(address) < 1):
        return "unknown"
    return cleanAddress(address.split('(')[0])

In [5]:
buffer = ""
all_people = []
for line in raw_data:
    if(line == "\n"):
        if(len(buffer) > 0):
            all_people.append(buffer.split(','))
            buffer = ""
    else:
        buffer += line

In [6]:
# Keep only names and addresses:
names = []
addresses = []
for people in all_people:
    if(len(people) > 1):
        names.append(people[0])
        addresses.append(getAddress(people))

df_people = pd.DataFrame({"name": names, "address": addresses})

In [7]:
unknown = df_people[[x == "unknown" for x in df_people["address"] ]]
print("Unknown addresses: " + str(len(unknown)/len(df_people)))

Unknown addresses: 0.3064312736443884

In [8]:
#Drop unknown addresses:
df_people_known = df_people[[x != "unknown" for x in df_people["address"]]].copy()
df_people_known

,name,address
0,ABRADIE-d’ARRAST (Michel-Robert d’),5S bis rue Jouffroy
1,ABBATUCCI,103 rue La Boétie
2,"ABBATUCCI (C1""""*)",32 rue Washington
3,ABOILARI) Georges),46 avenue de Breteuil
4,"ABOVILLE (B** Christian d’) [et B*»”"" née I1EN...",23 rue de Grenelle
...,...,...
11097,ZOGHEB (OGeorges de) [et C-- née SINANO],8 rue Alboni
11098,"ZOGRAPHOS (M. et M""“ Solon)",30 avenue Kléber
11099,Z0L0T0VITZ (Lubomir),103 boulevard Haussmann
11100,ZUYLEN de NYEVELT (R-- Étienne de) [et B*“* né...,70 avenue du Bois-de-Boulogne
11101,ZYLOF de STEENBOURG (J.) [et M- née d’H ALLO Y...,9 rue de Sontay

In [9]:
#df_people_known.to_csv (r'./people.csv', index = None, header=True)

# Names cleaning

In [179]:
def flatten(array):
    flattened = ""
    for s in array:
        flattened += s + " "
    return flattened

def get_family_name(str):
    names = ""
    splitted = str.split(" ")
    for i, word in enumerate(splitted):
        if(len(word) > 1):
            upper_chars_ratio = sum(1 for c in word if c.isupper())/len(word)
            if(upper_chars_ratio > 0.6 or word == "de"):
                if(len(names)>0):
                    names += " "
                names += word
            if(word == "née" and len(str) > i): 
                wife_name = get_family_name(flatten(splitted[i+1:]))
                if(len(wife_name) > 0):
                    names += " et Mme née " + wife_name
                    break

    names = names.replace("0", "O").replace("1", "I").replace("\n", "")
    names = re.sub('[^a-zA-Z- éÉèÊêÈûÛüÜöÖ’]+', '', names)
    return names

def get_first_name(str):
    names = ""
    splitted = re.sub('[^a-zA-Z- éÉèÊêÈûÛüÜöÖ]+', '', str).split(" ")
    for word in splitted:
        if(len(word) > 1):
            
            lower_chars_ratio = sum(1 for c in word if c.islower())/len(word)
            alpha_ratio = sum(1 for c in word if c.isalpha())/len(word)
            if lower_chars_ratio > 0.6 and alpha_ratio > 0.6 and word[0].isupper():
                if(len(names)>0):
                    names += " "
                names += word
    return names

In [180]:
df_cleaned = df_people_known.copy()
df_cleaned["Last name"] = [get_family_name(x) for x in df_cleaned["name"]]
df_cleaned["First name"] = [get_first_name(x) for x in df_cleaned["name"]]
df_cleaned

,name,address,Last name,First name
0,ABRADIE-d’ARRAST (Michel-Robert d’),5S bis rue Jouffroy,ABRADIE-d’ARRAST,Michel-Robert
1,ABBATUCCI,103 rue La Boétie,ABBATUCCI,
2,"ABBATUCCI (C1""""*)",32 rue Washington,ABBATUCCI,
3,ABOILARI) Georges),46 avenue de Breteuil,ABOILARI,Georges
4,"ABOVILLE (B** Christian d’) [et B*»”"" née I1EN...",23 rue de Grenelle,ABOVILLE et Mme née IIENNE-CART,Christian
...,...,...,...,...
11097,ZOGHEB (OGeorges de) [et C-- née SINANO],8 rue Alboni,ZOGHEB et Mme née SINANO,OGeorges
11098,"ZOGRAPHOS (M. et M""“ Solon)",30 avenue Kléber,ZOGRAPHOS,Solon
11099,Z0L0T0VITZ (Lubomir),103 boulevard Haussmann,ZOLOTOVITZ,Lubomir
11100,ZUYLEN de NYEVELT (R-- Étienne de) [et B*“* né...,70 avenue du Bois-de-Boulogne,ZUYLEN de NYEVELT de ROTHSCHILD,Étienne
11101,ZYLOF de STEENBOURG (J.) [et M- née d’H ALLO Y...,9 rue de Sontay,ZYLOF de STEENBOURG et Mme née ALLO Yd’HOCQUIN...,

In [181]:
df_cleaned = df_cleaned[["name", "Last name", "First name", "address"]]
df_cleaned

,name,Last name,First name,address
0,ABRADIE-d’ARRAST (Michel-Robert d’),ABRADIE-d’ARRAST,Michel-Robert,5S bis rue Jouffroy
1,ABBATUCCI,ABBATUCCI,,103 rue La Boétie
2,"ABBATUCCI (C1""""*)",ABBATUCCI,,32 rue Washington
3,ABOILARI) Georges),ABOILARI,Georges,46 avenue de Breteuil
4,"ABOVILLE (B** Christian d’) [et B*»”"" née I1EN...",ABOVILLE et Mme née IIENNE-CART,Christian,23 rue de Grenelle
...,...,...,...,...
11097,ZOGHEB (OGeorges de) [et C-- née SINANO],ZOGHEB et Mme née SINANO,OGeorges,8 rue Alboni
11098,"ZOGRAPHOS (M. et M""“ Solon)",ZOGRAPHOS,Solon,30 avenue Kléber
11099,Z0L0T0VITZ (Lubomir),ZOLOTOVITZ,Lubomir,103 boulevard Haussmann
11100,ZUYLEN de NYEVELT (R-- Étienne de) [et B*“* né...,ZUYLEN de NYEVELT de ROTHSCHILD,Étienne,70 avenue du Bois-de-Boulogne
11101,ZYLOF de STEENBOURG (J.) [et M- née d’H ALLO Y...,ZYLOF de STEENBOURG et Mme née ALLO Yd’HOCQUIN...,,9 rue de Sontay

In [182]:
df_cleaned.to_csv (r'./people.csv', index = None, header=True)

# CRF TEST to clean names

In [52]:
import random
from collections import Counter

from IPython.display import display

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import make_scorer

import sklearn_crfsuite
from sklearn_crfsuite import metrics

import spacy

from utils.export import export_to_excel
from utils import tags_format
from utils.features import generate_features

np.random.seed(42)
random.seed(42)

nlp = spacy.load('it_core_news_sm')

tags = [
    'FNAME',
    'LNAME'
]
tags_prefixed = ["-".join([prefix, tag]) for tag in tags for prefix in 'IB']
tags_prefixed.append('O')
print(tags_prefixed)

['I-FNAME', 'B-FNAME', 'I-LNAME', 'B-LNAME', 'O']

In [53]:
#Put the people in a dataframe
names = df_people_known["name"].to_frame().copy()
names = names.reset_index()
names.columns = ["idx", "text"]
names = names.set_index("idx")
names

                                                    text
idx
0                    ABRADIE-d’ARRAST (Michel-Robert d’)
1                                              ABBATUCCI
2                                      ABBATUCCI (C1""*)
3                                     ABOILARI) Georges)
4      ABOVILLE (B** Christian d’) [et B*»”" née I1EN...
...                                                  ...
11097           ZOGHEB (OGeorges de) [et C-- née SINANO]
11098                        ZOGRAPHOS (M. et M"“ Solon)
11099                               Z0L0T0VITZ (Lubomir)
11100  ZUYLEN de NYEVELT (R-- Étienne de) [et B*“* né...
11101  ZYLOF de STEENBOURG (J.) [et M- née d’H ALLO Y...

[7700 rows x 1 columns]

In [54]:
# Raphael's code to toeknize:

# We tokenize the text into words
df_tokens = names['text'].apply(lambda text: [
    str(token.text) for token in nlp(text, disable=['parser', 'tagger', 'ner'])])

# We stack the tokens to get a new token index
df_tokens = df_tokens.apply(pd.Series).rename_axis('tok_idx', axis=1).stack().to_frame('token')

# Finally, we join with the previous dataframe to get the fulltext column
df_tokens = df_tokens.join(names)
df_tokens = df_tokens[['text', 'token']]
display(df_tokens.head())

                                            text    token
idx tok_idx
0   0        ABRADIE-d’ARRAST (Michel-Robert d’)  ABRADIE
    1        ABRADIE-d’ARRAST (Michel-Robert d’)        -
    2        ABRADIE-d’ARRAST (Michel-Robert d’)       d’
    3        ABRADIE-d’ARRAST (Michel-Robert d’)   ARRAST
    4        ABRADIE-d’ARRAST (Michel-Robert d’)        (

In [55]:
#Export to excel
export_to_excel(df_tokens, './names_to_annotate.xlsx', tags=tags_prefixed)

In [77]:
# Reload
df_annotations_small = pd.read_excel('./names_annotated.xlsx', index_col=[0,1])
df_annotations_small['tag'] = df_annotations_small['tag'].str.upper()

is_annotated = (df_annotations_small['tag'].fillna(False) # Fill all NaN with False
                .apply(lambda x: True if x else False) # Make filled tag True
                .reset_index().groupby('idx') # Transform into dataframe and group by entry
                .apply(lambda x: all(x['tag']))) # Check that all tags are filled
df_annotations_small = df_annotations_small.loc[is_annotated[is_annotated].index] # Only keep entries with all tags filled

annotations_small = df_annotations_small.groupby(level=[0])[['token', 'tag']].agg(list).rename(columns={'token': 'tokens', 'tag': 'tags_iob2'})
annotations_small.head()

annotations_small['tags_io'] = annotations_small['tags_iob2'].apply(tags_format.iob2_to_io)
annotations_small['tags_biluo'] = annotations_small['tags_iob2'].apply(tags_format.iob2_to_biluo)
annotations_small.head()

,tokens,tags_iob2,tags_io,tags_biluo
idx,,,,
0,"[ABRADIE, -, d’, ARRAST, (, Michel, -, Robert,...","[B-LNAME, O, B-LNAME, I-LNAME, O, B-FNAME, O, ...","[I-LNAME, O, I-LNAME, I-LNAME, O, I-FNAME, O, ...","[U-LNAME, O, B-LNAME, L-LNAME, O, U-FNAME, O, ..."
1,[ABBATUCCI],[B-LNAME],[I-LNAME],[U-LNAME]
2,"[ABBATUCCI, (, C1, "", "", *, )]","[B-LNAME, O, O, O, O, O, O]","[I-LNAME, O, O, O, O, O, O]","[U-LNAME, O, O, O, O, O, O]"
3,"[ABOILARI, ), Georges, )]","[B-LNAME, O, B-FNAME, O]","[I-LNAME, O, I-FNAME, O]","[U-LNAME, O, U-FNAME, O]"
4,"[ABOVILLE, (, B, *, *, Christian, d, ’, ), [, ...","[B-LNAME, O, O, O, O, B-FNAME, O, O, O, O, O, ...","[I-LNAME, O, O, O, O, I-FNAME, O, O, O, O, O, ...","[U-LNAME, O, O, O, O, U-FNAME, O, O, O, O, O, ..."

In [78]:
train_idx, test_idx = train_test_split(annotations_small.index, test_size=0.5)
print(f"There is {len(train_idx)} training samples and {len(test_idx)} test samples.")

There is 8 training samples and 8 test samples.

In [79]:

# Features for the current word
default_features = {
        'bias': None,
        'word.lower': lambda word: word.lower(),
        'word.upper': lambda word: word.upper(),
        'word.alpha': lambda word: word.isalpha()
    }
# Features to be computed for surrounding words
default_surrounding_features = {
        # TODO add features
}

In [80]:
def generate_features_venetian(tokens):
    return generate_features(tokens,
                      features=default_features,
                      n_surrounding=1,
                      surrounding_features=default_surrounding_features)

annotations_small['features'] = annotations_small['tokens'].apply(generate_features_venetian)

In [81]:
tokens, features = annotations_small[['tokens', 'features']].iloc[0].values
print(tokens[0])
print(features[0])
print()
print(tokens[2])
print(features[2])
print()
print(tokens[-1])
print(features[-1])

ABRADIE
['bias', 'word.lower=abradie', 'word.upper=ABRADIE', 'word.alpha=True', 'BOS']

d’
['bias', 'word.lower=d’', 'word.upper=D’', 'word.alpha=False']

)
['bias', 'word.lower=)', 'word.upper=)', 'word.alpha=False', 'EOS']

In [82]:
train = annotations_small.loc[train_idx]
test = annotations_small.loc[test_idx]

# TODO you can change the encoding scheme to see if it performs diffently
tags_col = 'tags_io'

X_train = train['features'].values
y_train = train[tags_col].values
X_test = test['features'].values
y_test = test[tags_col].values

In [83]:
crf = sklearn_crfsuite.CRF(
    algorithm='lbfgs',
    c1=3e-1,
    c2=1e-4,
    max_iterations=1000,
    all_possible_transitions=True
)
crf.fit(X_train, y_train);

In [84]:
labels = list(crf.classes_)
labels.remove('O')

y_pred = crf.predict(X_test)
print(f"Weighted f1_score {metrics.flat_f1_score(y_test, y_pred, average='weighted', labels=labels):.3f}")
# group B and I results
sorted_labels = sorted(
    labels,
    key=lambda name: (name[1:], name[0])
)
print(metrics.flat_classification_report(
    y_test, y_pred, labels=sorted_labels, digits=3
))

Weighted f1_score 0.417
              precision    recall  f1-score   support

     I-FNAME      0.000     0.000     0.000         4
     I-LNAME      0.875     0.350     0.500        20

   micro avg      0.875     0.292     0.438        24
   macro avg      0.438     0.175     0.250        24
weighted avg      0.729     0.292     0.417        24

In [76]:
def print_state_features(state_features):
    for (attr, label), weight in state_features:
        print("%0.6f %-8s %s" % (weight, label, attr))
        
print("Top positive:")
print_state_features(Counter(crf.state_features_).most_common(10))

print("\nTop negative:")
print_state_features(Counter(crf.state_features_).most_common()[-10:][::-1])

Top positive:
3.736425 O        word.alpha=False
3.298295 I-LNAME  BOS
2.072419 O        word.lower=de
2.072419 O        word.upper=DE
1.698029 O        word.lower=d
1.698029 O        word.upper=D
1.602541 I-LNAME  word.lower=d’
1.602541 I-LNAME  word.upper=D’
1.325730 O        word.lower=née
1.325730 O        word.upper=NÉE

Top negative:
-0.495128 I-FNAME  bias
0.008198 I-LNAME  word.upper=ARRAST
0.008198 I-LNAME  word.lower=arrast
0.190428 I-LNAME  word.upper=O
0.190428 I-LNAME  word.lower=o
0.205255 O        word.upper=)
0.205255 O        word.lower=)
0.414878 O        word.upper=-
0.414878 O        word.lower=-
0.497918 O        word.upper=(

# Trials

In [144]:
addr = ['avenue', 'av.', 'rue', 'r.', 'boulevard', 'b.', 'mêmes adresses', 'même adresse', 'villa', 'place']
def is_address(str):
    return str in addr