In [1]:
import pandas as pd
import re
from collections import Counter

**Utility functions**

In [2]:
#Function to get the number of elements
def count_elmt(df):
    return len(df.index)

**Loading the data from the 1884 OCR**

In [35]:
df_dict = pd.read_excel("beau_monde_1884_tables.xlsx",header = None, sheet_name = None)

In [75]:
df_dict['table_1'].head()

           0   1                2                   3
1         M.  d’  Abadie Ghailes.     Rue Vaneau, 32.
3  y te y se  d’       Abancourt.    Rue Vézelay, 11.
4      M. Me  d’  Abannza Gh. ...  B1 Montmartre, 19.
5          M  de  Abaroa Claudio.  Rue Sl-Lazare, 81.
6      M. M°  d'         Abbadie.    Rue du Bac, 120.

Let's count how many addresses we have to start with.

In [77]:
num_adr = 0
for i in range(167):
    table = 'table_' + str(i+1)
    num_adr += count_elmt(df_dict[table])
    
print('At the beginning, we have %d addresses.' %num_adr)

At the beginning, we have 4871 addresses.

How many rows with missing values (or nan values) do we have?

In [37]:
counter = 0
for table in df_dict:
    counter += df_dict[table].isna().sum().sum()
print('There are %d missing values in our data.' %(counter))

There are 5938 missing values in our data.

Since there a too many values to fill them in by hand, we will just get rid of the corresponding rows (at least for now)

In [38]:
for table in df_dict:
    df_dict[table].dropna(inplace=True)
    
counter = 0
for table in df_dict:
    counter += df_dict[table].isna().sum().sum()
print('Now, there are %d missing values in our data.' %(counter))

Now, there are 0 missing values in our data.

Let's now harmonize the format of all the dataframes. We want to end up with one dataframe with two colums: Name and Address

In [39]:
cnt = Counter()
for i in range(167):
    table = 'table_' + str(i+1)
    cnt[str(len(df_dict[table].columns)) + ' columns'] += 1

cnt

Counter({'4 columns': 30, '3 columns': 131, '2 columns': 4, '5 columns': 2})

There seem to be different formats for the dataframes.

In [62]:
df_2 = pd.DataFrame(columns = [0,1])
df_3 = pd.DataFrame(columns = [0,1,2])
df_4 = pd.DataFrame(columns = [0,1,2,3])
df_5 = pd.DataFrame(columns = [0,1,2,3,4])

for i in range(167):
    table = 'table_' + str(i+1)
    if len(df_dict[table].columns) == 2: 
        df_2 = df_2.append(df_dict[table])
    elif len(df_dict[table].columns) == 3: 
        df_3 = df_3.append(df_dict[table])
    elif len(df_dict[table].columns) == 4:
        df_4 = df_4.append(df_dict[table])
    elif len(df_dict[table].columns) == 5:
        df_5 = df_5.append(df_dict[table])

Let's see those with 2 columns.

In [63]:
df_2.head() #Just names, we can get rid of this

          0                1
0        M.   Amilhau Paul .
1    Gte d’  Amilly Auguste.
2  O Cse d’     Amilly Jean.
3    C'e d'  Amu ly Maurice.
4        M.       Anargyrou.

Let's see those with 3 columns.

In [64]:
df_3['Names'] = df_3[0] + ' ' + df_3[1]
df_3['Addresses'] = df_3[2]
df_3.drop(labels = [0,1,2], axis = 1, inplace = True)
df_3.reset_index(drop = True, inplace = True)
df_3.head()

               Names                   Addresses
0           M° Adam.     Av. Champs-Elysées, 53.
1    M. Adam Alfred.            Rue Monceau, 67.
2   M° Adam Edmond .        BJ Poissonnière, 23.
3      Mlle Addenet.          Rue Blairault, 19.
4  Bno d’ Adelsward.  Rue de la Bienfaisance,44.

Let's see those with 4 columns.

In [65]:
df_4.head()

           0   1                2                   3
1         M.  d’  Abadie Ghailes.     Rue Vaneau, 32.
3  y te y se  d’       Abancourt.    Rue Vézelay, 11.
4      M. Me  d’  Abannza Gh. ...  B1 Montmartre, 19.
5          M  de  Abaroa Claudio.  Rue Sl-Lazare, 81.
6      M. M°  d'         Abbadie.    Rue du Bac, 120.

In [66]:
df_4['Names'] = df_4[0].map(lambda x: str(x)) + ' ' + df_4[1].map(lambda x: str(x)) + ' ' + df_4[2].map(lambda x: str(x)) 
df_4['Addresses'] = df_4[3]
df_4.drop(labels = [0,1,2,3], axis = 1, inplace = True)
df_4.reset_index(drop = True, inplace = True)
df_4.head()

                      Names           Addresses
0     M. d’ Abadie Ghailes.     Rue Vaneau, 32.
1   y te y se d’ Abancourt.    Rue Vézelay, 11.
2  M. Me d’ Abannza Gh. ...  B1 Montmartre, 19.
3      M de Abaroa Claudio.  Rue Sl-Lazare, 81.
4         M. M° d' Abbadie.    Rue du Bac, 120.

Let's see those with 5 columns.

In [67]:
df_5

,0,1,2,3,4
5,Dse,de,Serran.,"Av. de Tourville, 12.",\
6,Cte,de,Serrant.,"Rue d’Iéna, 15.",)
12,Mse,de,Serres de Mesplès ....,"Av. Marceau, 39.",1
23,Cte Csc,de,Sesmaisons R... .,"Rue de Marignan, 17.",■ .

In [68]:
df_5['Names'] = df_5[0].map(lambda x: str(x)) + ' ' +  df_5[1].map(lambda x: str(x)) + ' ' + df_5[2].map(lambda x: str(x)) 
df_5['Addresses'] = df_5[3]
df_5.drop(labels = [0,1,2,3,4], axis = 1, inplace = True)
df_5.reset_index(drop = True, inplace = True)
df_5.head()

                           Names              Addresses
0                 Dse de Serran.  Av. de Tourville, 12.
1                Cte de Serrant.        Rue d’Iéna, 15.
2  Mse de Serres de Mesplès ....       Av. Marceau, 39.
3   Cte Csc de Sesmaisons R... .   Rue de Marignan, 17.

We can now combine them all in one single dataframe.

In [82]:
df = pd.concat([df_3, df_4, df_5])
pre_cleaned = count_elmt(df)
num_lost_adr = num_adr - pre_cleaned
print('Before cleaning the strings, we have %d addresses.' %pre_cleaned)
print('We have therefore lost %d%% addresses due to missing values.' %(100*num_lost_adr/num_adr))

Before cleaning the strings, we have 4758 addresses.
We have therefore lost 2% addresses due to missing values.

**Cleaning the addresses**

In [12]:
# Text handling utilities
from string import punctuation
def lowercase_all(text):
    return text.lower()
def remove_punct(text):
    return ''.join([ch for ch in text if ch not in punctuation])

Spelling Corrector based on the work of Peter Norvig: http://norvig.com/spell-correct.html

In [13]:
def words(text): return re.findall(r'\w+', text.lower())

WORDS = Counter(words(open('list_addresses.txt', encoding='utf-8').read())) 
#list_addresses.txt is a hand-corrected list of addresses

def P(word, N=sum(WORDS.values())): 
    "Probability of `word`."
    return WORDS[word] / N

def correction(word): 
    "Most probable spelling correction for word."
    return max(candidates(word), key=P)

def candidates(word): 
    "Generate possible spelling corrections for word."
    return (known([word]) or known(edits1(word)) or known(edits2(word)) or [word])

def known(words): 
    "The subset of `words` that appear in the dictionary of WORDS."
    return set(w for w in words if (w.isalpha() and w.lower() in WORDS))

def edits1(word):
    "All edits that are one edit away from `word`."
    letters    = 'abcdefghijklmnopqrstuvwxyz'
    splits     = [(word[:i], word[i:])    for i in range(len(word) + 1)]
    deletes    = [L + R[1:]               for L, R in splits if R]
    transposes = [L + R[1] + R[0] + R[2:] for L, R in splits if len(R)>1]
    replaces   = [L + c + R[1:]           for L, R in splits if R for c in letters]
    inserts    = [L + c + R               for L, R in splits for c in letters]
    return set(deletes + transposes + replaces + inserts)

def edits2(word): 
    "All edits that are two edits away from `word`."
    return (e2 for e1 in edits1(word) for e2 in edits1(e1))

We will use SpaCy to tokenize the addresses. We just need to add some rules to deal with special cases (like the hyphen in St-Honoré or commas at the end of a word).

In [14]:
import spacy
from spacy.tokenizer import Tokenizer
nlp = spacy.load('fr_core_news_sm')

infix_re = re.compile(r'''[-~]''') #find hyphens
suffix_re = re.compile(r'''[,."']$''') #find , or . at end of word
def customize_tokenizer(nlp):
# Adds support to use `-` as the delimiter for tokenization
    return Tokenizer(nlp.vocab, 
                     infix_finditer=infix_re.finditer,
                     suffix_search=suffix_re.search, 
                     token_match=None)

nlp.tokenizer = customize_tokenizer(nlp)

We can now define some functions to clean the addresses. The first one corrects spelling error and the second one harmonizes all the results.

In [15]:
def correct_adrs(adrs):
    clean_adrs = ''
    
    #Tokenize the address using SpaCy tokenizer
    adrs_parts = nlp(adrs)
    #print ([token.text for token in adrs_parts])
    
    #Find the street number
    last = 1
    if str(adrs_parts[-1]) in punctuation:
        number = adrs_parts[-2]
        last = 2
    else:
        number = adrs_parts[-1]
        
    #Correction of errors
    for i in range(len(adrs_parts)-last):
        if adrs_parts[i].text in punctuation:
            if adrs_parts[i].text == '-':
                clean_adrs = clean_adrs[:-1] + adrs_parts[i].text
        else:
            clean_adrs += correction(adrs_parts[i].text).capitalize()
            clean_adrs += ' '
            
    return clean_adrs + str(number)

convert_adrs = {'av':'Avenue', 
        'r':'Rue', 
        'bd':'Boulevard',
        'pl':'Place',
        'fr':'Faubourg'}

def clean_adrs(adrs):
    adrs = correct_adrs(adrs)
    adrs_part_punct = adrs.split()
    adrs_part = remove_punct(adrs).split()
    for i in range(len(adrs_part)):
        if lowercase_all(adrs_part[i]) in convert_adrs:
            adrs_part_punct[i] = convert_adrs[lowercase_all(adrs_part[i])]
    adrs = ' '.join(adrs_part_punct)
    return adrs

Let's have some tests (still need to get rid of NaN values)

In [16]:
test_adrs = 'Ff S\'-llonoré. 21'
clean_adrs(test_adrs)

'Faubourg St-Honoré 21'

In [17]:
for adr in df_dict['table_11'][2]:
        print(adr + ' : ' + clean_adrs(adr))

B1 Haussman, 111. : Boulevard Haussman 111
. Rue de Rigny, 5. : Rue De Rigny 5
. R. de la Bienfaisance, 17. : Rue De La Bienfaisance 17
. Rue JoufTroy, 81. : Rue Jouftroy 81
. Rue de l’Université; 70. : Rue De L’université; 70
. Av. d’Antin , 1. : Avenue Antin 1
. Ba Malesherbes, 81. : La Malesherbes 81
. Rue Bayard, 20. : Rue Bayard 20
. Rue Miromesnil, 20. : Rue Miromesnil 20
. Rue de Sèvres. 85. : Rue De Sèvres 85
. Rue de Sèvres, 85. : Rue De Sèvres 85
. Rue de Sèvres, 85. : Rue De Sèvres 85
. Rue de Sèvres, 85. : Rue De Sèvres 85
. Rue Royale, 8. : Rue Royale 8
. Bd Malesherbes, 8. : Boulevard Malesherbes 8
Rue Sl-Lazare, 89. : Rue L-Lazare 89
Rue Ville-rÉvêque, 25. : Rue Ville-Révêque 25
Rue Barbet-de-Jouy, 30. : Rue Barbet-De-Jouy 30
Rue de Yerneuil, 43. : Rue De Yerneuil 43
Cité Martignac, 6. : Cité Martignac 6
Rue de Grenelle, 125. : Rue De Grenelle 125
Rue Blanche, 44. : Rue Blanche 44
Rue Miromesnil, 72. : Rue Miromesnil 72
Bd Latour-Maubourg, 02. : Boulevard Latour-Maubourg 02
Rue de Grenelle, 122. : Rue De Grenelle 122
Rue Beaulant, 4. : Rue Beaulant 4
Rue du Bac, 46. : Rue Du Bac 46
Rue Miromesnil, 12. : Rue Miromesnil 12
R. du F'-SMIonoré 160. : Rue Du Fr-Smionoré 160
Rue Delaborde, 11. : Rue Delaborde 11
Rue Las-Cases, 7. : Rue Las-Cases 7
Rue Washington, 20. : Rue Washington 20
Rue Las-Cases, 7. : Rue Las-Cases 7
Rue Masserait, 11. : Rue Masserait 11
Bd S'-Germain, 241. : Boulevard St-Germain 241
Av. de l’Alma, 16. : Avenue De L’alma 16

In [20]:
df_3_proto = df_3.head(100)

In [21]:
df_3_proto.Addresses.apply(clean_adrs)

0      Avenue Champs-Elysées 53
1                Rue Monceau 67
2     Boulevard Poissonnière 23
3              Rue Blairault 19
4     Rue De La Bienfaisance,44
                ...
95          Rue St-Guillaume 29
96              Rue Du Regard 6
97              Quai D’orsay 41
98     Boulevard Malesherbes 19
99                De Denfert 14
Name: Addresses, Length: 100, dtype: object

**Cleaning the names**

In [37]:
df_3.head(10)

                              Names                   Addresses
0                          M° Adam.     Av. Champs-Elysées, 53.
1                   M. Adam Alfred.            Rue Monceau, 67.
2                  M° Adam Edmond .        BJ Poissonnière, 23.
3                     Mlle Addenet.          Rue Blairault, 19.
4                 Bno d’ Adelsward.  Rue de la Bienfaisance,44.
5  Bon Bne cl' Adelsward Gustave...          Bd Courcelles, 65.
6       Bon Jjne J’ Adelsward Axel.             Rue Royale, 10.
7       M. Adenis de la Roserie ...           Rue Tronchet, 27.
8                   Cso d’ Adhémar.          Rue Lamennais, 15.
9                   Ysed' Adhémard.      Rue cle Bourgogne, 63.

Let's define a dict to map all the abbreviations to the corresponding titles (we also include 'Monsieur' and 'Madame').

In [32]:
titres = {'Cte':'Comte', 'Cse':'Comtesse', 'Vte':'Vicomte', 'Vse':'Vicomtesse', 'Dc':'Duc', 'Dse':'Duchesse',
         'Bon':'Baron', 'Bne':'Baronne', 'Mis':'Marquis', 'Mse':'Marquise', 'Pce':'Prince', 'M':'Monsieur', 'Me':'Madame',
         'Mlle':'Mademoiselle'}

TO DO: add regex to find patterns of type "' voyelle" to get "d'" (ex: "cl ' Adelsward" doit donner "d'Adelsward")

In [38]:
def clean_name(name):
    name_parts = nlp(name)
    cleaned_name = ''
    titre = ''
    #print ([token.text for token in name_parts])
    if name_parts[-1].text in punctuation:
        name_parts = name_parts[:-1]
    for i in range(len(name_parts)):
        if name_parts[i].text in titres:
            #print(name_parts[i].text)
            titre += titres[remove_punct(name_parts[i].text)] #we add the corresponding title using the dict titres
            titre += ' '
        else: 
            cleaned_name += name_parts[i].text
        cleaned_name += ' '
    #print ([token.text for token in name_parts])
    
    return (titre,cleaned_name)

In [39]:
test = 'Bon Bne cl Adelsward Gustave'
clean_name(test)

('Baron Baronne ', '  cl Adelsward Gustave ')

In [40]:
df_3_proto.head(10).Names.apply(clean_name)

0                                       (, M° Adam )
1                       (Monsieur ,  . Adam Alfred )
2                                (, M° Adam Edmond )
3                         (Mademoiselle ,  Addenet )
4                              (, Bno d’ Adelsward )
5    (Baron Baronne ,   cl ' Adelsward Gustave . . )
6                 (Baron ,  Jjne J’ Adelsward Axel )
7          (Monsieur ,  . Adenis de la Roserie . . )
8                                (, Cso d’ Adhémar )
9                               (, Ysed ' Adhémard )
Name: Names, dtype: object